ebimc/wp-admin/
ebimc/wp-includes/
ebimc/wp-content/plugins/
ebimc/wp-content/uploads/
ebimc/wp-content/index.php
ebimc/wp-*.php
ebimc/index.php
ebimc/license.txt
ebimc/xmlrpc.php

layoutfast/wp-admin/
layoutfast/wp-includes/
layoutfast/wp-content/plugins/
layoutfast/wp-content/uploads/
layoutfast/wp-content/index.php
layoutfast/wp-*.php
layoutfast/index.php
layoutfast/license.txt
layoutfast/xmlrpc.php

layoutfast/vanilla/applications
layoutfast/vanilla/build
layoutfast/vanilla/cache
layoutfast/vanilla/conf
layoutfast/vanilla/js
layoutfast/vanilla/library
layoutfast/vanilla/locales
layoutfast/vanilla/plugins
layoutfast/vanilla/resources
layoutfast/vanilla/uploads
layoutfast/vanilla/vendor
layoutfast/vanilla/bootstrap.php
layoutfast/vanilla/container.html
layoutfast/vanilla/environment.php
layoutfast/vanilla/index.php
layoutfast/vanilla/LICENSE.md
layoutfast/vanilla/README.md

*.codekit3
*/.htaccess
